.fishList {
    background-color: tan;
    display: flex;
    border: 2px dotted ;
}



.container__zero {
    display: flex;
    flex-flow: column;
    border: 10px double palegreen;

}

.container__one {
    display: flex;
    flex-flow: column;
    border: dotted red;
}

.container__two {
    display: flex;
    flex-flow: column;
    border:dotted black;

}

.container__three{
    display: flex;
    flex-flow: column;
border: dotted blue;

}

.container__four {
    display: flex;
    flex-flow: column;
    border:dotted coral;

}

.container {
    display: flex;
    flex-flow: column;
    border:dotted coral;

}


.fish {
    border: 2px dotted 
    flex-basis: auto;
    flex-wrap: wrap;
}

