.fishList {
    background-color: burlywood;
    display: flex;
    border: 2px dotted black;
    justify-content: space-around;
    text-align: center;
    padding-right: 5em;

}


.fish {
    border: 2px dotted red;
    flex-basis: auto;
    flex-wrap: wrap;
   flex-shrink: 6em;
}