@import "./fish.css";

header {
    text-align: center;
}

img {
    width: 45%;
}


.tips__jar {
    padding-bottom: 10em;
}

.contentContainer {
    display: flex;
    
}

section, article, aside {
    border: 1px dotted black
}

#container {
    background-color: blueviolet;
}

.travel {
    background-color: chocolate;
}

.tipsList {
    
    background-color: cyan;
    align-items: center;
    
}


.contentContainter__left {
    text-align: center;
}


