@import "./fish.css";

header {
    text-align: center;
}

img {
    width: 25%;

}

.contentContainer {
    display: flex;
    
}

section, article, aside {
    border: 1px dotted black
}

#container {
    background-color: blueviolet;
}

.travel {
    background-color: chocolate;
}

.tipsList {
    padding: 2em;
}

.tipsList {
    background-color: cyan;
}